@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,300;1,300&display=swap');

body{
  background: #44749d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Lato', sans-serif;
}

div{
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 20px;
}

button{
  background-color: #fcd7da;
  border: none;
  border-radius: 5px;
  color: #261c21;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover{
  background-color: #bdb8ad;
}

input{
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #fcd7da;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin-right: 15px;
    background-color: #f5f5f5;
}
input:focus{
    border-color: #5ecde0;
    box-shadow: 0 0 5px rgba(98, 0, 234, 0.5);
    outline: none;
}
input:hover{
  border-color: #00fff2;
}